/* * {
  background-color: gray;
  margin: 0;
} */

#gameplayGrid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(26, 1fr);
  /* width: 860px; */
}

.squaretrue, .squarefalse, .squareblank, .squareInvisible {
  width: 1.5em;
  height: 1.5em;
  border: .15em, solid, black;
}

.squarefalse {
  background-color: rgb(255, 193, 77);
}

.squaretrue {
  background-color: yellow;
}

.squareblank {
  background-color: white;
}

.squareBrown {
  background-color: rgb(165, 87, 42);
  visibility: hidden;
}

#gridContainer {
  display: inline-block;
  background-color: purple;
}

#scoresheetContainer, #gridContainer, #bottomRow, #scoresheet {
  border: 5px, solid, gray;
  border-radius: .5em;
  padding: .25em;
}

#scoresheetContainer {
  display: inline-block;
  /* visibility: hidden; */
  width: 100%;
  /* background-color: red; */
}

#bottomRow{
  height: 10em;
  background-color: blue;
}

#gameLayout {
  display: flex;
  flex-direction: row;
}

#scoresheet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#weapons, #suspects, #rooms {
  display: flex;
  flex-direction: column;
}

#weapons > div, #suspects > div, #rooms > div, .suspects, .weapons, .rooms, .scoresheetCell{
  border: 2px solid black;
  height: 1em;
  overflow-y: hidden;
  /* width: 1em; */
  min-width: 7em;
  height: 1.5em;
}

.suspects, .weapons, .rooms {
  height: 1.5em;
}