#gameboardContainer {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(26, 1fr);
  /* gap: .15em; */
  width: 860px;
}

.squaretrue, .squarefalse, .squareblank {
  width: 2em;
  height: 2em;
  border: .15em, solid, black;
  /* background-color: red; */
}

.squarefalse {
  background-color: rgb(255, 193, 77);
}

.squaretrue {
  background-color: yellow;
}

.squareblank {
  background-color: white;
}